.idea/
.idea/*
*/Unidad_1/*.java
*/Unidad_1/*.jar
*/Unidad_1/Unidad1app
*/Unidad_1/Unidad1app/*
*/Unidad_1/genericsort
*/Unidad_1/genericsort/*
*/Unidad_1/img
*/Unidad_1/img/*
*/Unidad_1/sample.startup
